.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Meme-Intro {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.CA{
  font-weight: bold;
  border-width: 2px;
  border-color: black;
  border-radius: 20px;
  font-size: large;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}
.CA span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.CA span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  transition: 0.5s;
}
.CA:hover span {
  padding: 5px;
}

.CA:hover span:after {
  opacity: 1;
  right: 0;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 20px 0;
  background: white; /* Set to transparent so it sits over the background image */
  white-space: nowrap;
  position: absolute; /* Change from relative to absolute */
  top: 0; /* Adjust as needed to position the logos at the top, or where you want them */
  left: 0;
  width: 100%;
  z-index: 1; /* Ensures it stays above the background */
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}